<!doctype html>
<html lang="en">
<head>
  <!-- Meta -->
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport">
  <meta content="ie=edge" http-equiv="X-UA-Compatible">
  <meta content="#00A885" name="theme-color">
  <!-- Favicon -->
  <link href="/static/icon.png" rel="icon" sizes="1024x1024" type="image/png">
  <!-- Stylesheet -->
  <link href="/static/styles.css" rel="stylesheet">
  <!-- Manifest -->
  <link href="/static/manifest/manifest.json" rel="manifest">
  <!-- Title -->
  <title>Mouseee {{ version }}</title>
</head>
<body>
<!-- Touchpad -->
<div id="touchpad" data-status="connecting"></div>
<!-- Context -->
<script>const version = "{{ version }}";</script>
<!-- Script -->
<script src="/static/scripts.js"></script>
</body>
</html>
