<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
  <meta content="ie=edge" http-equiv="X-UA-Compatible">
  <meta name="theme-color" content="#00A885">
  <link rel="icon" type="image/png" sizes="1024x1024" href="/static/icon.png">
  <link href="/static/styles.css" rel="stylesheet">
  <link rel="manifest" href="/static/manifest/manifest.json">
  <title>Mouseee</title>
</head>
<body>
<button class="off" id="sensor"></button>
<script src="/static/scripts.js"></script>
</body>
</html>
